.wjs-header {
  height: 50px;
  line-height: 50px;
  border: 1px solid #ccc;
}
.wjs-header .row {
  height: 100%;
  text-align: center;
}
.wjs-header .row > div:nth-of-type(-n+3) {
  border-right: 1px solid #ccc;
}
.wjs-header .row > div:nth-of-type(-n+3) > .wjs_code {
  position: relative;
  display: block;
}
.wjs-header .row > div:nth-of-type(-n+3) > .wjs_code > img {
  display: none;
  position: absolute;
  top: 49px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #ccc;
  border-top: none;
}
.wjs-header .row > div:nth-of-type(-n+3) > .wjs_code:hover > img {
  display: block;
}
.wjs-header .row > div:nth-of-type(4) > .btn-danger {
  background-color: #e92322;
  border-color: #e92322;
}
.wjs-header .row > div:nth-of-type(4) > .btn {
  padding: 3px 15px;
}
.wjs-header .row > div:nth-of-type(4) > .btn-link {
  color: #ccc;
}
.wjs-header .navbar-toggle {
  margin-top: 23px;
}
/*������ʽ*/
.wjs_nav {
  /*�޸ĵ�����li��ʽ*/
}
.wjs_nav .navbar-brand {
  height: 80px;
  line-height: 50px;
}
.wjs_nav .navbar-brand > .wjs_icon {
  font-size: 40px;
}
.wjs_nav .navbar-brand > span:nth-child(1) {
  color: #e92322;
}
.wjs_nav .navbar-brand > span:nth-child(2) {
  color: #e92322;
}
.wjs_nav .navbar-nav > li > a {
  height: 80px;
  display: block;
  line-height: 50px;
}
.wjs_nav .navbar-nav > a:hover,
.wjs_nav .navbar-nav a:focus {
  color: #777;
  border-bottom: 3px solid #e92322;
}
.wjs_nav .active > a,
.wjs_nav .active a:hover,
.wjs_nav .active a:focus {
  background-color: transparent;
  border-bottom: 3px solid #e92322;
}
/*�ֲ�ͼ*/
.wjs-banner .mobileImg {
  width: 100%;
  display: block;
}
.wjs-banner .mobileImg > img {
  width: 100%;
  display: block;
}
.wjs-banner .pcimg {
  width: 100%;
  height: 410px;
  display: block;
  background-image: url("../images/slide_01_2000x410.jpg");
  background-position: center center;
  background-size: cover;
}
/*��Ϣ��*/
.wjs-info {
  padding: 30px;
}
.wjs-info .wjs_icon {
  font-size: 30px;
}
.wjs-info .row > div {
  margin-top: 20px;
}
.wjs-info .row > div > a:hover {
  color: #e92322;
}
/*ԤԼ��*/
.wjs-reverse {
  height: 60px;
  line-height: 60px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.wjs-reverse .wjs_icon {
  font-size: 18px;
}
.wjs-reverse .reverse_now {
  color: #e92322;
  border-bottom: 1px dashed #e92322;
}
.wjs-reverse a:hover {
  color: #e92322;
}
.wjs-product {
  clear: both;
  background-color: #eee;
  padding: 20px;
}
.wjs-product > .tabs_parent {
  width: 100%;
  overflow: hidden;
}
.wjs-product .nav-tabs > li {
  margin-bottom: 0px;
  padding: 0px 14px;
}
.wjs-product .nav-tabs > li > a {
  line-height: 50px;
  border-radius: 0px;
  border: none;
  background-color: transparent;
}
.wjs-product .nav-tabs > li > a:hover {
  border-bottom: 3px solid #e92322;
}
.wjs-product .nav-tabs > li.active > a,
.wjs-product .nav-tabs > li.active a:hover,
.wjs-product .nav-tabs > li.active a:focus {
  border: none;
  border-radius: 0;
  background-color: #eee;
  border-bottom: 3px solid #e92322;
}
.wjs_pBox {
  height: 150px;
  margin-top: 20px;
  background-color: #fff;
  /*��ǰactive����ʽ*/
}
.wjs_pBox > .wjs_pLeft {
  position: relative;
  margin-right: 100px;
  height: 150px;
  padding-top: 10px;
  font-size: 12px;
}
.wjs_pBox > .wjs_pLeft > p {
  width: 100%;
  text-align: center;
  font-size: 16px;
}
.wjs_pBox > .wjs_pLeft > .row {
  margin-left: -10px;
  margin-right: -10px;
}
.wjs_pBox > .wjs_pLeft > .row > div:nth-of-type(even) {
  text-align: right;
}
.wjs_pBox > .wjs_pRight {
  width: 100px;
  height: 150px;
  position: absolute;
  top: 20px;
  right: 15px;
  border-left: 1px dotted #ccc;
  text-align: center;
  padding-top: 30px;
}
.wjs_pBox > .wjs_pRight > .wjs-tip {
  width: 100%;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.wjs_pBox > .wjs_pRight > .wjs-tip > span:first-of-type {
  color: red;
  border: 1px solid red;
}
.wjs_pBox > .wjs_pRight > .wjs-tip > span:last-of-type {
  color: blue;
  border: 1px solid blue;
}
.wjs_pBox > .wjs_pRight > b {
  font-size: 40px;
  color: #e92322;
}
.wjs_pBox > .wjs_pRight > sub {
  color: #e92322;
  bottom: 0;
}
.wjs_pBox > .wjs_pRight::before,
.wjs_pBox > .wjs_pRight::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #eee;
  left: -5px;
}
.wjs_pBox > .wjs_pRight::before {
  top: -5px;
  box-shadow: 0px 1px 1px #ddd inset;
}
.wjs_pBox > .wjs_pRight::after {
  bottom: -5px;
  box-shadow: 0px 1px 1px #ddd inset;
}
.wjs_pBox.active {
  background-color: #e92322;
}
.wjs_pBox.active > .wjs_pRight > b,
.wjs_pBox.active > .wjs_pRight sub,
.wjs_pBox.active > .wjs_pRight p {
  color: #fff;
  position: relative;
}
.wjs_pBox.active > .wjs_pLeft::before {
  color: #fff;
  content: "\e915";
  /*һ��Ҫ�ǵ���������*/
  font-family: "wjs";
  position: absolute;
  left: 0;
  top: -5px;
  font-size: 25px;
}
/*������ʽ*/
.wjs_news {
  padding-top: 20px;
}
.wjs_news .wjs_nTitle {
  line-height: 50px;
  font-size: 25px;
  position: relative;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
.wjs_news .wjs_nTitle::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid #ccc;
  position: absolute;
  bottom: -4px;
  right: -8px;
}
.wjs_news .wjs_newsLine {
  width: 1px;
  height: 100%;
  position: absolute;
  border-left: 1px dashed #e92322;
  left: 45px;
  top: 0;
}
.wjs_news .nav-tabs > li {
  margin-bottom: 60px;
}
.wjs_news .nav-tabs > li > a {
  background-color: #ccc;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
}
.wjs_news .nav-tabs > li > a:hover {
  border: none;
  background-color: #e92322;
}
.wjs_news .nav-tabs > li .wjs_icon {
  font-size: 30px;
  color: #fff;
}
.wjs_news .nav-tabs > li:last-of-type {
  margin-bottom: 0px;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .wjs_news .nav-tabs > li {
    margin: 20px 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) and screen and (max-width: 768px) {
  .wjs_news .nav-tabs > li {
    margin: 20px 0px;
    width: 25%;
  }
}
.wjs_news .wjs_newslist {
  list-style: none;
}
.wjs_news .wjs_newslist > li {
  line-height: 60px;
}








.tabs-parent{width: 100%;overflow: hidden;}